@use "../abstracts/" as *;

.btn {
  display: inline-block;
  height: 4.3rem;
  line-height: 4.3rem;
  @include padding(0, 1.5rem);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  margin-right: 0.5rem;
  transition: all 0.2s linear;
  @include responsive(xsm) {
    height: 3.5rem;
    line-height: 3.5rem;
    @include padding(0, 1.3rem);
    font-size: 1.2rem;
  }

  &--default {
    background: $green-500;
    color: $white;
    // border: 1px solid $green-500;

    &:hover {
      outline: 0.1rem solid #000033;
    }
  }

  &--dark {
    background: $blue-6;
    // border: 1px solid $blue-6;
    color: $white;

    &:hover {
      outline: 0.1rem solid #000033;
    }

    a {
      color: $white;
    }
  }

  &--dark:hover {
    background: $white;
    color: $blue-6;

    a {
      color: $black;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
