@use "../abstracts/" as *;

.modal {
  @include modal();

  &.show--modal {
    @include displayModal;
  }

  &__wrapper {
    @include modalWrapper(75rem, 40rem);

    &.show--modal__wrapper {
      @include displayModalWrapper;
    }

    @include responsive(sm) {
      @include modalWrapperSmallScreen;
    }

    &__close {
      @include modalCloseBtn;
    }

    &__image {
      width: 50%;
      // height: 45rem;
      @include responsive(sm) {
        display: none;
      }

      &__img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }

    &__contents {
      @include modalWrapperContents(50%);

      @include responsive(sm) {
        width: 100%;
        // padding: 3rem 1.5rem;
      }

      &__text {
        @include modalText;

        @include responsive(xsm) {
          font-size: 1.3rem;
          line-height: 1.8rem;
        }
      }

      &__block {
        @include flexDisplay(space-between, null);
        padding-bottom: 0.5rem;
        margin-top: 1.5rem;
        border-bottom: 0.1rem dashed $gray-200;

        // @include responsive(sm) {
        //   margin-top: 1.2rem;
        // }

        &__left {
          font-size: 1.4rem;
          font-weight: 400;
          text-transform: capitalize;
          color: $black;

          @include responsive(xsm) {
            font-size: 1.2rem;
          }
        }

        &__right {
          font-size: 1.3rem;
          font-weight: 400;
          color: $gray-600;

          @include responsive(xsm) {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
