@use "../abstracts/" as *;

.heading {
  @include sectionHeading(2rem, 500, capitalize, $black, relative);

  @include responsive(xsm) {
    font-size: 1.8rem;
  }

  &::after {
    @include position(absolute, 50%, null, null, 0);
    content: "";
    background: $green-600;
    height: 0.5rem;
    width: 10rem;
    opacity: 0.4;
  }
}

.decrease_margin {
  margin: 2rem 0;
}

.items--center {
  @include flexDisplay(null, center);
}
