@use "../abstracts/" as *;

.heading {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: $black;
  position: relative;

  @include responsive(xsm) {
    font-size: 1.8rem;
  }

  &::after {
    @include position(absolute, 50%, null, null, 0);
    content: "";
    background: $green-600;
    height: 0.5rem;
    width: 10rem;
    opacity: 0.4;
  }
}

.decrease_margin {
  margin: 2rem 0;
}
